body {
    background-image: url("cara-delevingne.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  	color: #fff;
  	font-family: 'Montserrat', sans-serif;
}

input::placeholder, textarea::placeholder {
  color: #fff;
  font-size: 0.875em;
}


#form {
	font-family: 'Montserrat', sans-serif;
	text-shadow:1px 1px 1px black;
	box-shadow:0 1px 0 black,0 1px 0 rgba(255,255,255,.4) inset,0 10px 20px 10px rgba(0,0,0,.7);
	background-color: rgba(0,0,0,.6);
	border:1px solid black;
	position: relative;
	width: 470px;
	margin: 50px auto 100px auto;
}

input {
  font-family: 'Montserrat', sans-serif;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  color: #fff;
  font-weight: bold;
  border: solid 1px #000;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #000;
  color: #fff;
}

#submit {
  width: 470px; 
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}





